/* базывые стили и ширифт */
@import url('./rest.css');
@import url('./vars.css');

/* стиль сайета! */
@import url('./css/header.css');
@import url('./css/hero.css');
@import url(./css/s-1.css);
@import url('./css/Explore.css'); 