#header {
  border-bottom: solid 1px var(--gr-color);
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  padding-block: 5px;
  background: linear-gradient(
    80deg,
    rgb(39, 42, 114) 0%,
    rgb(139, 48, 140) 100%
  );
  .bg-gradient3 {
    position: absolute;
    top: 1px;
    right: 0;
    width: 20%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);
    nav {
      display: flex;
      align-items: center;
      gap: 15px;
      a {
        display: flex;
        align-items: center;
        gap: 1px;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 0.3px;
      }
    }
    .inputs {
      display: flex;
      align-items: center;
      gap: 10px;
      .Search {
        position: relative;
        input {
          padding: 7px 15px 7px 10px;
          border-radius: 20px;
          border: none;
          outline: none;
          color: var(--black-color);
          font-size: 14px;
          transition: 0.7s;
          width: 200px;
          height: 45px;
        }
        ion-icon {
          position: absolute;
          right: 7px;
          top: 50%;
          transform: translateY(-50%);
          color: var(--black-color);
        }
      }
      button {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 7px 10px;
        border-radius: 30px;
        border: none;
        background: none;
        color: var(--white-color);
        cursor: pointer;
        border: solid 2px var(--white-color);
        transition: 0.7s;
        width: 150px;
        height: 50px;
      }
      button:hover {
        background: var(--white-color);
        border: var(--white-color);
        color: var(--border-color);
      }
    }
    .btns {
      a {
        background: linear-gradient(25deg,rgba(51, 56, 216, 0.78) 23%, rgba(251, 0, 255, 1) 79%);
        color: var(--white-color);
        border: none;
        cursor: pointer;
        padding: 10px;
        border-radius: 13px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 7px;
        ion-icon {
          font-size: 25px;
        }
      }
      .moon-icon {
        background: var(--black-color);
      }
    }
  }
}
