#s-4 {
  .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      height: 30px;
      color: var(--black-color);
      font-size: 13px;
      font-weight: 600;
      border-bottom: 2px solid;
      border-image: linear-gradient(
          to right,
          #5453b4,
          #6452da,
          #8253da,
          #9253dc,
          #b155dc,
          #cf56da,
          #da54d8
        )
        1;
    }

    a:hover {
      background: linear-gradient(
        to right,
        #5453b4,
        #6452da,
        #8253da,
        #9253dc,
        #b155dc,
        #cf56da,
        #da54d8
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    h1 {
      color: rgb(0, 0, 0);
      font-size: 40px;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-weight: 700;
    }
  }
  .max {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
  }
  .text2 {
    a {
      display: flex;
      align-items: center;
      gap: 9px;
      color: #ffff;
      border: solid 1px rgba(255, 255, 255, 0.329);
      background-color: #0000006f;
      padding: 10px 22px;
      border-radius: 20px;
      font-size: 16px;
      font-weight: 600;
      transition: 0.5s;
    }
    a:hover {
      background-color: #5142fc;
    }
  }
  .text3 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    a {
      display: flex;
      align-items: center;
      gap: 9px;
      color: #ffff;
      border: solid 1px rgba(255, 255, 255, 0.329);
      background-color: #0000006f;
      padding: 10px 22px;
      border-radius: 20px;
      font-size: 16px;
      font-weight: 600;
      transition: 0.5s;
    }
    a:hover {
      background-color: #5142fc;
    }
  }
  /* tugadi nahuy */
  .card {
    width: 305px;
    height: 500px;
    background-color: #ffffff;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    transition: transform 0.5s ease-in-out;
    .with {
      padding: 25px 25px 0px 25px;
      .btn {
        margin-top: 9px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        button {
          padding: 10px 10px;
          border-radius: 24px;
          background: none;
          border: 2px solid #5142fc;
          display: flex;
          gap: 5px;
          color: #5142fc;
          font-weight: 500px;
          transition: 0.5s;
          ion-icon {
            margin-top: 2.4px;
          }
          &:hover {
            background-color: #5142fc;
            color: #ffffff;
          }
        }
        a {
          display: flex;
          align-items: center;
          gap: 5px;
          color: #000000;
          font-size: 16px;
          font-weight: 600;
          ion-icon {
            font-size: 23px;
          }
        }
      }
      .img-s1 {
        position: relative;
        .opo {
          transition: transform 0.3s ease;
        }
        .like {
          display: flex;
          align-items: center;
          position: absolute;
          top: 10px;
          right: 15px;
          background-color: #000000;
          padding: 4px 12px;
          border-radius: 12px;
          color: #fff;
          font-size: 18px;
          ion-icon {
            color: #ffffff;
            cursor: pointer;
          }
        }
        ion-icon:focus {
          color: #ff0000;
        }
      }
      img {
        width: 280px;
        border-radius: 15px;
      }
      .t1 {
        margin-top: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
          color: var(--black-color);
          font-size: 15px;
          font-weight: 600;
          transition: color 0.6s ease;
        }
        a:hover {
          color: #5142fc;
        }
        h1 {
          padding: 3px 10px;
          font-size: 14px;
          font-weight: 510;
          color: #fff;
          background-color: #5142fc;
          border-radius: 9px;
        }
      }
      .cont {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ii {
          display: flex;
          align-items: center;
          gap: 5px;
          img {
            width: 55px;
            height: 55px;
            border-radius: 15px;
          }
          .lo {
            display: flex;
            flex-direction: column;
            p {
              color: #0000006f;
              font-weight: 500;
              font-size: 13px;
            }
            a {
              color: #000000;
              font-size: 16px;
              font-weight: 600;
              transition: color 0.3s ease;
            }
            a:hover {
              color: #5142fc;
            }
          }
        }
        .qq {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          p {
            color: #0000006f;
            font-weight: 500;
            font-size: 13px;
          }
        }
        h1 {
          color: #000000;
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
  }
  .card:hover {
    transform: translateY(-10px);
    .opo {
      transform: scale(1.05);
    }
  }
  .cart-ob {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .card-1 {
    width: 305px;
    height: 450px;
    background-color: #ffffff;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    transition: transform 0.5s ease-in-out;
    .with {
      padding: 25px 25px 0px 25px;
      .btn {
        margin-top: 9px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        button {
          padding: 10px 10px;
          border-radius: 24px;
          background: none;
          border: 2px solid #5142fc;
          display: flex;
          gap: 5px;
          color: #fff;
          font-weight: 500px;
          ion-icon {
            margin-top: 2.4px;
          }
        }
        a {
          display: flex;
          align-items: center;
          gap: 5px;
          color: #000000;
          font-size: 16px;
          font-weight: 600;
          ion-icon {
            font-size: 23px;
          }
        }
      }
      .img-s1 {
        position: relative;
        .opo {
          transition: transform 0.3s ease;
        }
        .like {
          display: flex;
          align-items: center;
          position: absolute;
          top: 10px;
          right: 15px;
          background-color: #000000;
          padding: 4px 12px;
          border-radius: 12px;
          color: #fff;
          font-size: 18px;
          ion-icon {
            color: #ffffff;
            cursor: pointer;
          }
        }
        ion-icon:focus {
          color: #ff0000;
        }
      }
      img {
        width: 280px;
        border-radius: 15px;
      }
      .t1 {
        margin-top: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
          color: var(--black-color);
          font-size: 15px;
          font-weight: 600;
          transition: color 0.6s ease;
        }
        a:hover {
          color: #5142fc;
        }
        h1 {
          padding: 3px 10px;
          font-size: 14px;
          font-weight: 510;
          color: #fff;
          background-color: #5142fc;
          border-radius: 9px;
        }
      }
      .cont {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ii {
          display: flex;
          align-items: center;
          gap: 5px;
          img {
            width: 55px;
            height: 55px;
            border-radius: 15px;
          }
          .lo {
            display: flex;
            flex-direction: column;
            p {
              color: #0000006f;
              font-weight: 500;
              font-size: 13px;
            }
            a {
              color: #000;
              font-size: 16px;
              font-weight: 600;
              transition: color 0.3s ease;
            }
            a:hover {
              color: #5142fc;
            }
          }
        }
        .qq {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          p {
            color: #0000006f;
            font-weight: 500;
            font-size: 13px;
          }
        }
        h1 {
          color: #000000;
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
  }
  .card-1:hover {
    transform: translateY(-10px);
    .opo {
      transform: scale(1.05);
    }
  }
  .s-4{
    .qwqw{
      margin-bottom: 30px;
      margin-top: 30px;
      margin-left: 580px;
      padding: 12px 35px;
      background:none;
      border-radius: 27px;
      border: 1.5px solid #eeecff;
      background-color: #eeecff;
      font-size: 16px;
      font-weight: 500;
      color:#5142fc;
      transition: color 0.5s ease-in-out;
    }
    .qwqw:hover{
      border: none;
      background-color: #5142fc;
      color: #ffffff;

    }
  }
}
